[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
locust = "~=2.1.0"
pyyaml = "~=5.4"

[dev-packages]
pytest = "*"
pycodestyle = "*"

[requires]
python_version = "3.9"
